
 .appview.tabtemplate .tabcontent {
            bottom: 0;
            color: #95958b;
            height: 30px;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            position: absolute;
            width: 200px;
        }
  



 
 